  
{% extends "layout.html" %}

{% block title %}
    Welcome
{% endblock %}

{% block body %}
    <h1>Welcome to the library</h1>

    <main class="container">
        <ul>
            <li><a href="{{ url_for('index') }}" class="navbar-item">Home</a></li>
            <li><a href="{{ url_for('login') }}" class="navbar-item">Login</a></li>
            <li><a href="{{ url_for('signup') }}" class="navbar-item">Sign Up</a></li>           
            <li><a href="{{ url_for('logout') }}" class="navbar-item">Log out</a></li>
            <li><a href="{{ url_for('search') }}" class="navbar-item">Search books</a></li>
        </ul>
    </main>

    
{% endblock %}