{% extends "layout.html" %}

{% block body %}
<div class="column is-4 is-offset-4">
    <h3 class="title">Login</h3>
    <div class="box">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification is-danger">
                {{ messages[0] }}.</a>.
            </div>
        {% endif %}
        {% endwith %}
        <form method="POST" action="/login">
            <div class="field form-group">
                <div class="control">
                    <input class="input is-large form-control" type="text" name="username" placeholder="Username" autofocus="">
                </div>
            </div>

            <div class="field form-group">
                <div class="control">
                    <input class="input is-large form-control" type="password" name="password" placeholder="Your Password">
                </div>
            </div>
            <div class="field form-group">
                <label class="checkbox">
                    <input type="checkbox">
                    Remember me
                </label>
            </div>
            <button class="btn btn-primary button is-block is-info is-large is-fullwidth">Login</button>
        </form>
    </div>
</div>
{% endblock %}